fastapi>=0.111.0
uvicorn>=0.30.0
pydantic>=2.7.0
starlette>=0.46.0
anyio>=4.0.0
idna>=2.8
typing-extensions>=4.8.0
typing-inspection>=0.4.2
annotated-doc>=0.0.2
annotated-types>=0.6.0
pydantic-core>=2.18.0
click>=7.0
h11>=0.8
mediapipe==0.10.21
opencv-contrib-python-headless==4.10.0.84
numpy>=1.24.0
absl-py~=2.1
certifi
flatbuffers~=24.3
sounddevice~=0.5
cffi
pycparser
